.MiniInfoCellSmall {
    display: flex;
    align-items: center;
    gap: 6px;
    max-width: 100%;
    overflow: hidden;
}

.MiniInfoCellSmall__Icon {
    color: var(--icon_secondary);
}

.MiniInfoCellSmall__Label {
    color: var(--text_secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MiniInfoCellSmall__Icon.Button {
    color: var(--accent);
}

.MiniInfoCellSmall__Label.Button {
    color: var(--accent);
}